{% block one_product %}
<div class="product-container col-xl-3 col-lg-4 col-md-4 col-sm-4 col-12">
    <div class="single-product">
        <div class="product-img d-flex justify-content-center">
            <a href="/product_details/{{ product.id }}">
                <img class="default-img" src="{{ product.path_to_img }}" alt="фотография">
            </a>
        </div>
        <div class="product-content">
            <h3><a href="/product_details/{{ product.id }}">{{ product.title }}</a></h3>
            <div class="product-price">
                <span>{{ product.cost }}</span>
            </div>
        </div>
        {% if product.user_id == current_user.id and can_edit %}
        <div class="product-actions">
          <div class="d-flex">
            <a class="btn btn-warning" href="/edit_product/{{product.id}}">Редактировать</a>
            <a class="btn btn-danger" href="/delete_product/{{product.id}}">Удалить</a>
          </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}