{% extends "base.html" %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="inline-block align-middle d-flex flex-column">
            <div class="single-product">
                    <div class="product-img d-flex justify-content-center">
                        <a href="{{ request.referrer }}">
                            <img class="default-img" src="../{{ product.path_to_img }}" alt="фотография"
                                style="max-width: 80vh;">
                        </a>
                    </div>
                <div class="product-content">
                    <h3 class="d-flex justify-content-center">{{ product.title }}</h3>
                    <div class="product-price d-flex justify-content-center">
                        <h4>{{ product.cost }} руб.</h4>
                    </div>
                    <hr>
                    <h4 class="d-flex justify-content-center">{{ product.contact_number}}</h4>
                    <hr>
                    <div class="d-flex justify-content-center">
                        {{ product.content }}
                    </div>
                    <hr>
                    <h6 class="d-flex justify-content-center">{{ product.created_date.date() }}</h6>
                    <hr>
                </div>
                {% if product.user_id == current_user.id or current_user.id == admin_db_id %}
                <div class="product-actions d-flex justify-content-around">
                  <div class="d-flex">
                      <a class="btn btn-danger" href="/delete_product/{{product.id}}">Удалить</a>
                      <a class="btn btn-warning" href="/edit_product/{{product.id}}" style="margin: 0 20px;">Редактировать</a>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}